<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="pdt">
  	<select id="salePdtList" resultType="ProductDTO">
  		SELECT * FROM tbl_product
  		WHERE cnt >= 1
  	</select>
  	
  	<select id="selectPdt" resultType="ProductDTO">
  		SELECT * FROM tbl_product
  	</select>
  	
  	<select id="searchPdt" resultType="ProductDTO">
  		SELECT * FROM tbl_product
  		WHERE pname LIKE #{pname}
  	</select>
  	
  	<select id="already" resultType="Integer">
  		SELECT COUNT(*) FROM tbl_product
  		WHERE pname LIKE #{pname}
  	</select>
  	
  	<update id="cntChange" parameterType="map">
  		UPDATE tbl_product SET
  			<if test="flag == 'plus'">
  				cnt = cnt + #{cnt}
  			</if>
  			<if test="flag == 'sub'">
  				cnt = cnt - #{cnt}
  			</if>
  		WHERE pname = #{pname}
  	</update>
  	
  	<update id="updatePdt" parameterType="ProductDTO">
  		UPDATE tbl_product SET
  			company = #{company},
  			price = #{price},
  			cnt = #{cnt}
  		WHERE pname = #{pname}
  	</update>
  	
  	<insert id="insert" parameterType="ProductDTO">
  		INSERT INTO tbl_product(pno, pname, company, price, cnt)
  		VALUES(seq_product.NEXTVAL, #{pname}, #{company}, #{price}, #{cnt})  		
  	</insert>
  	
  	<delete id="deletePdt" parameterType="String">
  		DELETE FROM tbl_product
  		WHERE pname = #{pname}
  	</delete>
  	
  </mapper>